<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<!-- 共通 <head> 読込 -->
<head th:replace="fragment/head :: head_fragment(
title = #{title.deleteWork}, scripts = ~{::script}, links = ~{::link})">
	<!-- 個別CSS、JSを引数に指定 -->
	<link rel="stylesheet" type="text/css" th:href="@{/css/blank.css}"/>
	<script type="text/javascript" th:src="@{/js/inputWork.js}"></script>
</head>
<body>
<!-- 共通 <header> 読込 -->
<div th:replace="fragment/header :: header_fragment(text = #{title.deleteWork})"></div>

<!-- 確認メッセージ -->
<div class="text-center font-weight-bold mb-3" th:text="#{confirm.delete}"></div>

<!-- 削除する作業内容テーブル -->
<form th:action="@{/deleteWork}" method="post" th:object="${inputWorkForm}" id="input-form" class="d-flex justify-content-center row">
	<table class="table table-striped table-bordered col-7">
		<!-- 項目名 -->
		<tr>
			<th class="text-center col-2 align-middle" th:text="#{workName}"></th>
			<td th:text="*{workName}"></td>
		</tr>
		<!-- 担当者 -->
		<tr>
			<th class="text-center align-middle" th:text="#{manager}"></th>
			<td th:text="*{managerName}"></td>
		</tr>
		<!-- 期限 -->
		<tr>
			<th class="text-center align-middle" th:text="#{deadline} "></th>
			<td th:text="*{#dates.format(deadline, 'YYYY-MM-dd')}"></td>
		</tr>
		<!-- 完了 -->
		<tr>
			<th class="text-center align-middle" th:text="#{complete}"></th>
			<td th:text="*{complete == true} ? #{complete} : #{notComplete}"></td>
		</tr>
	</table>
</form>

<!-- 削除とキャンセルボタン -->
<div th:replace="fragment/inputWork :: inputWorkBtns_fragment(submitText = #{delete})"></div>
</body>
</html>