<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<!-- 共通 <head> 読込 -->
<head th:replace="fragment/head :: head_fragment(
title = #{title.searchResult}, scripts = ~{::script}, links = ~{::link})">
	<!-- 個別CSS、JSを引数に指定 -->
	<link rel="stylesheet" type="text/css" th:href="@{/css/blank.css}"/>
	<script type="text/javascript" th:src="@{/js/blank.js}"></script>
</head>
<body>

<!-- 共通 <header> 読込 -->
<div th:replace="fragment/header :: header_fragment(text = #{title.searchResult})"></div>

<!-- 画面上部のナビゲーション -->
<div th:replace="fragment/viewUserList :: userListNavbar_fragment"></div>

<!-- ユーザー一覧テーブル -->
<div th:replace="fragment/viewUserList :: userListTable_fragment"></div>

<!-- 戻るボタン -->
<div class="d-flex justify-content-center">
	<div class="float-right mr-3">
		<a class="btn btn-outline-secondary" href="/admin/userList" role="button" th:text="#{return.btn}"></a>
	</div>
</div>
</body>
</html>